<div *ngIf="user" class="container">
  <h2>User</h2>
  <div><span>Username: </span>{{ user.username }}</div>
  <div><span>Email: </span>{{ user.email }}</div>

  <div *ngIf="posts != null && posts.length > 0">
    <div *ngFor="let post of posts">
      <div class="card my-2">
        <div class="card-header bg-dark text-light">
          Posted by {{ user.username }} at {{ post.timestamp | date: "medium" }}
        </div>
        <div class="card-body">
          <p class="card-text">{{ post.comment }}</p>
        </div>
      </div>
    </div>
  
  </div>

  <button (click)="goBack()" class="btn btn-primary">Back</button>
</div>
