<div class="container">      
    <div *ngIf="userPosts != null && userPosts.length > 0">
      <div *ngFor="let userPost of userPosts">
        <div class="card col-6 my-2">
          <div class="card-header bg-dark text-light">
            Posted by {{ userPost.username }} at {{ userPost.timestamp | date: "medium" }}            
          </div>
          <div class="card-body">
            <!-- <h5 class="card-title">{{ post.timestamp }}</h5> -->
            <p class="card-text">{{ userPost.comment }}</p>
            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
          </div>
        </div>
      </div>
  
      <!-- <h3>Posts</h3>
      <ul>
        <li *ngFor="let post of posts">
          <div>{{ post.timestamp }}</div>
          <span>{{ post.comment }}</span>
        </li>
      </ul> -->
    </div>
  
    <button routerLink="/users" class="btn btn-primary">List of users</button>
  </div>